@charset "utf-8";

@font-face {
	font-family:"NanumGothic";
	src: url(../font/NanumGothic.eot);
	src:local(※),url(../font/NanumGothic.eot?#iefix) format('embedded-opentype'),
		url(../font/NanumGothic.woff) format('woff'),
		url(../font/NanumGothic.ttf) format('truetype');
}

@font-face {
	font-family:'NanumGothicBold';
	src:url(../font/NanumGothicBold.eot);
	src:local(※),url(../font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
		url(../font/NanumGothicBold.woff) format('woff'),
		url(../font/NanumGothicBold.ttf) format('truetype');
}


html, body {margin:0;padding:0;}
body { font-family:"맑은고딕",MalgumGothic,"돋움",Dotum,"굴림",Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666;}
div, span, p, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6 {font-weight:normal; }
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
hr,legend, caption {display:none;}
img {border:none; vertical-align:top;}
hr {display:none;}
address {font-style:normal;}
em{font-style:normal;}
table {margin:0;padding:0;word-break:break-all;border-collapse:collapse; }
td {font-size:12px;}
/* 숨김 */
caption {position:absolute; visibility:hidden; width:0; height:0; overflow:hidden; font-size:0;}
fieldset {border:0;padding:0; margin:0;}
legend {position:absolute; visibility:hidden; width:0; height:0; overflow:hidden; font-size:0;}
a { color:inherit; vertical-align:middle; }
a:link,a:visited { color:#666; text-decoration:none; }
a:hover { text-decoration:none; color:#666; }

select{font-family: font-size:12px; line-height:16px; padding:0 0 0 5px; margin:0; color:#333; height:23px; border:solid 1px #707070; vertical-align:middle; }
input[type="text"],input[type="password"],textarea { margin:0; font-size:12px; color:#333; border:solid 1px #ccc; vertical-align:middle; padding:0 5px 0 5px; line-height:23px; }
input[type="text"]:disabled, textarea:disabled { background-color:#e2e2e2; color:#999; }
input[type="radio"]:disabled { cursor:default;}
input[type="radio"] { width:13px; height:13px; padding:0; margin:0; vertical-align:middle; margin:0 0 1px; cursor:default; }
input[type="checkbox"] { width:13px; height:13px; padding:0; margin:0; vertical-align:middle; margin:0 0 1px; }
input[type=text]::-ms-clear {display: none;}
.input_img{margin:0;padding:0;vertical-align:middle;}

/* 숨김텍스트처리 */
.hidden { font-size: 0; height: 0;left: -9999px; line-height: 0;margin-bottom: 0; margin-left: 0;margin-right: 0;margin-top: 0;overflow-x: hidden;overflow-y: hidden;position: absolute; text-indent: -9999px; top: -9999px; visibility: hidden; width: 0;}

/* display */
.none{display:none;}
.block{display:block;}
      
/* 정렬 */
.tl{text-align:left !important;}
.tc{text-align:center !important;}
.tr{text-align:right !important;}
.vT{vertical-align:top !important;}
.vM{vertical-align:middle !important;}

.fc_ty1{color:#1d2088 !important;}

.mt10{margin-top:10px;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px;}
.mt30{margin-top:30px !important;}

/* button */
button {overflow: hidden; margin: 0; padding: 0; border: 0 none; font-family:Nanum Barun Gothic,sans-serif;  cursor: pointer;}
/* fireFox button */
button::-moz-focus-inner{padding:0; margin:0;}

/* 공통 */
.btn,
.btn * {margin:0; padding:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; 
		white-space:nowrap; vertical-align:middle; overflow:visible; color:#fff; }
.btn *{cursor:pointer; cursor:hand; vertical-align:middle;}
.btn span{text-indent:-99999px; font-size:0; }

.strong{font-weight:bold;}

/* input */
input{font-family:"맑은고딕",MalgumGothic,"돋움",Dotum,"굴림",Gulim,Tahoma,Verdana,AppleGothic,sans-serif;}

/* btnWrap */
.btnWrap{text-align:center; font-size:0;}
.btnWrap .btn{font-size:1; margin-left:10px;}
.btnWrap .btn:first-child{margin-left:0;}

/* title */
.tit_ty1{font-family:NanumGothic; font-size:20px; color:#000; margin:0 0 5px 0;}
.tit_ty1 span{ color:#767575; }
.tit_ty2{font-family:NanumGothic; font-size:20px; color:#000; margin:0 0 5px 0;}


/* box */
.box_ty1{background-color:#fbfbfb; border:1px solid #c9c9c9; border-top:3px solid #f73f48; border-left:0; position:relative;}
.box_ty1 .tl, .box_ty1 .tr,
.box_ty1 .bl, .box_ty1 .br{position:absolute; width:2px; height:2px;}
.box_ty1 .tl { background:url(../images/common/bg_box_ty1_tl.png) no-repeat 0 0; left:0; top:-3px;}
.box_ty1 .tr { background:url(../images/common/bg_box_ty1_tr.png) no-repeat 0 0; right:-1px; top:-3px; width:3px; height:3px;}
.box_ty1 .bl { background:url(../images/common/bg_box_ty2_bl.png) no-repeat 0 0; left:-1px; bottom:-1px;}
.box_ty1 .br { background:url(../images/common/bg_box_ty2_br.png) no-repeat 0 0; bottom:-1px; right:-1px; width:3px; height:3px;}

.box_ty2{background-color:#fbfbfb; border:1px solid #c9c9c9; border-top:0; border-left:0; position:relative;}
.box_ty2 .tl, .box_ty2 .tr,
.box_ty2 .bl, .box_ty2 .br{position:absolute; width:2px; height:2px;}
.box_ty2 .tl { background:url(../images/common/bg_box_ty2_tl.png) no-repeat 0 0; left:0; top:0;}
.box_ty2 .tr { background:url(../images/common/bg_box_ty2_tr.png) no-repeat 0 0; right:-1px; top:-1px;}
.box_ty2 .bl { background:url(../images/common/bg_box_ty2_bl.png) no-repeat 0 0; left:-1px; bottom:-1px;}
.box_ty2 .br { background:url(../images/common/bg_box_ty2_br.png) no-repeat 0 0; bottom:-1px; right:-1px; width:3px; height:3px;}

.box_ty3{background-color:#fcfcfc; border:1px solid #e0e0e0; border-bottom:0; border-right:0; position:relative;}
.box_ty3 .box_ty3_inner{border:1px solid #f2f2f2; border-bottom:0; border-right:0;}
.box_ty3 .tl, .box_ty3 .tr,
.box_ty3 .bl, .box_ty3 .br{position:absolute; width:2px; height:2px;}
.box_ty3 .tl { background:url(../images/common/bg_box_ty3_tl.png) no-repeat 0 0; left:-1px; top:-1px; width:3px; height:3px;}
.box_ty3 .tr { background:url(../images/common/bg_box_ty3_tr.png) no-repeat 0 0; right:-1px; top:-1px; width:2px; height:3px;}
.box_ty3 .bl { background:url(../images/common/bg_box_ty3_bl.png) no-repeat 0 0; left:-1px; bottom:-1px; width:3px; 2px;}

/* tooltip박스 */
.box_ty4{background:url(../images/common/bg_box_ty4_top.png) no-repeat 0 0; padding-top:11px; width:226px;}
.box_ty4_btm{background:url(../images/common/bg_box_ty4_btm.png) no-repeat 0 100%; padding-bottom:19px;}
.box_ty4_mid{background:url(../images/common/bg_box_ty4_mid.png) repeat-y 0 0; padding:0px 4px 0px 2px;}

/* mask type */
.mask_ty1{position:fixed;left: 0;top: 0; width:100%; height:100%; z-index:10; background: url(../images/common/bg_mask.png);}
.mask_ty2{position: fixed;left: 0;top: 0; width: 100%; height: 100%; z-index: 999; background: url(../images/common/bg_mask.png);}

.topContents{}
.topContents > div{position:relative;width:1184px;margin:0 auto;}

/* grid */
.grid{width:1036px;margin:0 auto;}
.home_grid{width:1184px;margin:0 auto;}

/* 176*176 thumblist ty1 */
.thumbList.list_ty1{margin-left:-14px;}
.thumbList.list_ty1:after{content:"";display:block;clear:both;}
.thumbList.list_ty1 > ul > li{width:222px; height:361px;float:left; margin:0 0 23px 13px;border:1px solid #f0f0f0;}
.thumbList.list_ty1 > ul > li.on{border:1px solid red;}
.thumbList.list_ty1 > ul > li > .infobox.on{border:1px solid red;}
.thumbList.list_ty1 .infobox span.tl,
.thumbList.list_ty1 .infobox span.tr,
.thumbList.list_ty1 .infobox span.bl,
.thumbList.list_ty1 .infobox span.br {position:absolute;z-index:5;width:3px;height:3px;}
.thumbList.list_ty1 .infobox span.tl{background:url(../images/common/bg_product_tl.png) no-repeat;left:-2px;top:-2px;}
.thumbList.list_ty1 .infobox span.tr{background:url(../images/common/bg_product_tr.png) no-repeat;right:-2px;top:-2px;}
.thumbList.list_ty1 .infobox span.bl{background:url(../images/common/bg_product_bl.png) no-repeat;left:-2px;bottom:-2px;}
.thumbList.list_ty1 .infobox span.br{background:url(../images/common/bg_product_br.png) no-repeat;right:-2px;bottom:-2px;}


/* 공통 */
.thumbWrap{margin-top:30px;}
.thumbWrap:first-child{margin-top:0;}
.thumbList .col{margin-bottom:19px;}
.thumbList .btn_listMore{display:block; clear:both; height:37px; line-height:37px; background-color:#e9e8ea; font-family:'NanumGothicBold'; color:#979797; font-size:12px; text-align:center; margin:0 14px;}
.thumbList .infobox{position:relative; background-color:#fff; width:216px; height:359px; border:1px solid #e9e9e9; padding:0 2px;}
.thumbList .infobox .count{display:none;}
.thumbList .discountInfo{position:absolute; left:0px; top:0px; width:56px; height:34px; line-height:34px; background-color:#a9a9a9; text-align:center; color:#fff;
	font-family:NanumGothic; font-size:13px; display:inline-block; z-index:2;}
.thumInfo{}
.thumInfo .thumImg{display:block;}

/* 마우스 오버시 */
.thumOver{display:none; background:url(../images/common/bg_thumOver1.png) repeat 0 0; position:absolute; left:1px; top:220px; bottom:1px; right:1px; z-index:10;}
.thumOver .icoLayer{position:absolute; left:18px; top:50px; }
.thumOver .item{font-size:36px; display:block; color:#717171; text-align:center; font-family:'NanumGothicBold'; height:40px;}
.thumOver .act{display:block; text-align:center; height:43px; margin-top:11px;}
.thumOver .act button{background:url(../images/common/btn_plus_ty1.png) no-repeat 0 0; width:108px; height:43px;}
.thumOver .act .minus{background-image:url(../images/common/btn_minus_ty1.png); width:80px;}
.thumOver .deliInfo{display:block; text-align:center; margin:28px 0 0 0; color:#909090;}

/* 장바구니에 담고난후 */
.thumInfo .count{background:url(../images/common/bg_count.png) no-repeat 0 0; width:75px; height:75px; position:absolute; left:50%; top:50%;
	margin:-37px 0 0 -37px; font-size:36px; display:block; color:#fff; text-align:center; font-family:'NanumGothicBold'; line-height:75px;}
.thumbList .txtInfo {border-top:1px solid #f0f0f0;}
.thumbList .txtInfo > div{padding:10px 20px 0 20px;}
.thumbList .txtInfo .pdName{color:#666;font-size:12px;display:block;max-height:54px;line-height:18px;display:block;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.thumbList .txtInfo .price{text-align:right;font-size:16px;font-weight:bold;padding:10px 0;}
.thumbList .txtInfo .price span{color:#a4a4a4; font-size:14px; font-weight:normal;display:inline-block;padding-left:3px;}
.thumbList .txtInfo .price_gap{border-top:1px solid #e9e9e9;padding:5px 20px;position:relative;text-align:left;font-size:14px;}
.thumbList .txtInfo .price_gap > span{float:right;color:#ff757c;font-weight:bold;}

/* 최고가, 최저가 */
.priceComp{z-index:44; position:absolute; left:0; top:-96px; z-index:50;}
.priceComp .pcList{padding:3px 20px 0px 20px; width:177px;}
.priceComp .pcList li{border-top:1px solid #efefef; padding:10px 0 10px; overflow:hidden;}
.priceComp .pcList li span{float:left; width:95px;}
.priceComp .pcList li a{float:left; text-align:right; font-weight:bold; color:#5a5a5a; width:82px;}
.priceComp .pcList li:first-child{border-top:0; padding-top:0;}
.priceComp .pcList li.last{padding-bottom:0;}

/* paging */
.paging{font-size:0; text-align:center;}
.paging strong,
.paging a{display:inline-block; width:38px; height:38px; line-height:38px; border:1px solid #e6e6e6; background-color:#fff; color:#a7a7a7; text-align:center; margin-left:5px; font-size:12px; vertical-align:middle;}

.paging .first{background:url(../images/common/btn_pagingFirst.gif) no-repeat 0 0; text-indent:-9999px;}
.paging .last{background:url(../images/common/btn_pagingLast.gif) no-repeat 0 0; text-indent:-9999px;}
.paging .next{margin-left:12px; background:url(../images/common/bg_pagingNext.gif) no-repeat 0 0; text-indent:-9999px;}
.paging .prev{margin-right:12px; background:url(../images/common/bg_pagingPrev.gif) no-repeat 0 0;text-indent:-9999px;}
.paging strong{background-color:#fff; color:#444; border:1px solid #444444; font-weight:normal;}




















































