@charset "utf-8";

/* Contents Shortcut */
#skipnavi {position:absolute;top:-50px;left:0; z-index:999; width:100%;}
#skipnavi a {display:block;position:absolute;top:0; width:100%;} 
#skipnavi a:focus,
#skipnavi a:active,
#skipnavi a:hover {position:absolute;left:0px;top:50px;color:#fff;font-weight:bold;font-size:13px; text-align:center; background:#0552a9; padding:5px 0;}

#wrap {width:100%;}

/* header */
#header {position:relative; height:164px; z-index:60;width:1184px;margin:0 auto;}
#header h1{float:left; padding:24px 0 0 29px;}

/* TopUtil */
.topUtilWrap{height:77px;position:relative;z-index:200;width:100%;background:#fff;}
.utilMenu {float:right; color:#d7dade; padding:22px 56px 0 200px;overflow:hidden;}
.utilMenu li{float:left; padding:0 30px; height:34px;}

.utilMenu > li > a{ line-height:34px; font-size:18px;font-family:'NanumGothicBold';}
.utilMenu > li:first-child{background:url(../images/common/layout/bg_utilMenuBar.png) no-repeat 100% 50%; position:relative; padding:0 21px 0 0;}
.topLink{float:right;position:relative;}
.utilMenu .snsWrap a{float:left; margin-left:15px;}
.utilMenu .snsWrap a:first-child{margin-left:0;}
.utilMenu .link{width:34px;height:34px;line-height:34px;text-align:center;display:inline-block;position:relative;z-index:10;}
.utilMenu .link.active {}
.utilMenu .snsWrap{ position:absolute;top:0;right:0;height:34px;}
.utilMenu .snsWrap.active {}
.utilMenu .ico1,
.utilMenu .ico2,
.utilMenu .ico3,
.utilMenu .ico4{right:0;width:34px;position:absolute;}

/* gnb */
div.gnbWrap{clear:both; position:relative; padding:0 0 0 88px; height:87px; z-index:60;}
div.gnbWrap .menu{clear:both;}

/* 전체메뉴 라인 */
.allmenu { position: relative; }
.allmenu > * { z-index: 2; position: relative; }
.allmenu > .bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; z-index: 1; display: block; -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); -moz-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); -ms-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); -o-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); }

#bt-menu { width:88px; height:87px; display:block; position:absolute;top:0;left:0;z-index:20;}
#bt-menu .lines {width:88px;height:87px;display:block;}
#bt-menu .lines span {position: absolute;top:50%;left:50%;width:40px;margin-left:-20px;height:3px;display:block;background:white;-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1);-moz-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);-ms-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);-o-transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); }
#bt-menu .lines span.nth2 { margin-top: -8px; }
#bt-menu .lines span.nth3 { margin-top: 8px; }
#bt-menu:hover .lines span.nth2 { margin-top: -18px; }
#bt-menu:hover .lines span.nth3 { margin-top: 18px; }
#bt-menu.open .lines span.nth2 { margin-top: -18px; }
#bt-menu.open .lines span.nth3 { margin-top: 18px; }
/*
#bt-menu.open:hover .lines span.nth1 { opacity: 0 !important;}
#bt-menu.open:hover .lines span.nth2 { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); margin-top: 0; }
#bt-menu.open:hover .lines span.nth3 { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: 0; }
*/
#bt-menu.open{background:url(../images/common/layout/btn_amClose1.png) no-repeat 0 0;width:88px;height:87px;display:block;}
#bt-menu.open:hover{background:url(../images/common/layout/btn_amClose1_on.png) no-repeat 0 0;}
#bt-menu.open .bg, #bt-menu.open .lines > span{display:none;border:1px solid red;}

.menu{clear:both; border-top:1px solid #7f7f7f; border-bottom:1px solid #7f7f7f; position:relative; z-index:9;}
.menu:after{content:"";display:block;clear:both;}
.menu > li{float:left; background:url(../images/common/layout/bg_gnbBar.png) no-repeat 0 50%;  height:85px; }
.menu > li:first-child{background-image:none;}
.menu > li > a{display:block; padding: 35px 35px 0 35px; font-size:18px; font-family:Myriad Pro;}
.menu > li > a:hover,
.menu > li.on > a{color:#ee2e24;}
.menu > li > a:hover span,
.menu > li.on > a span{display:inline-block; padding-bottom:3px; border-bottom:2px solid #ee2e24;}

/* 전체메뉴 */
.allmenuWrap{position:relative;left:-88px;top:-87px;}
.AllmenuLayer{position:absolute; left:0; top:87px; background-color:#fff; height:600px; width:1184px; z-index:9999; background:url(../images/common/layout/bg_AllmenuLayer.png) repeat-x 0 100%;}
.AllmenuLayer .arr{position:absolute; left:40px; top:-4px; background:url(../images/common/bg_arrow_ty1.png) no-repeat 0 0; width:9px; height:5px; z-index:30; display:inline-block;}
.menuAside{float:left; height:588px; width:88px; background-color:#ee2e24; border-top:1px solid #000;}
.menuAside li:first-child{background:url(../images/common/bg_allmenuBar.png) no-repeat 50% 100%; height:85px;}
.menuAside a{display:block; width:88px; height:84px;}
.menuAside .ttm a{background:url(../images/common/layout/btn_allmenu_text.png) no-repeat 0 0; }
.menuAside .ttm.on a{background-image:url(../images/common/layout/btn_allmenu_text_on.png);}
.menuAside .im a{background:url(../images/common/layout/allmenu_img.png) no-repeat 0 0;}
.menuAside .im.on a{background-image:url(../images/common/layout/allmenu_img_on.png);}
.menuWrap{float:left; background-color:#fff; width:1096px; height:589px;}

/* 텍스트형 */
#AllMenuText{}
#AllMenuText > ul > li {float:left; width:142px; padding:0 20px 0 20px;  border-left:1px solid #ececec; height:247px;}
#AllMenuText > ul > li.last{width:141px;}
#AllMenuText > ul > li > h2 {font-size:14px; color:#606060; font-weight:bold; background:url(../images/common/bg_bd_ty1.png) repeat-x 0 100%; padding:0 0 6px 19px;}
#AllMenuText .col{width:1096px;}
#AllMenuText .col:first-child {padding-top:37px;}
#AllMenuText .col:first-child > li{height:253px;}
#AllMenuText .col li:first-child{border-left:0;}
#AllMenuText .dep2List{margin:6px 0 0 0;}
#AllMenuText .dep2List > li{position:relative; padding-left:12px; }
#AllMenuText .dep2List > li > a{display:block; height:22px; line-height:22px; color:#606060; padding:0 0 0 10px; font-size:11px; }

.dep3_Layer ul > li.active a,
.dep3_Layer ul > li a:hover,
#AllMenuText .dep2List > li.active > a,
#AllMenuText .dep2List > li > a:hover{padding-left:10px; color:#fff; background:#f73f48 url(../images/common/layout/bg_menu_over_left.png) no-repeat 0 0;}

.dep3_Layer ul > li.active a span,
.dep3_Layer ul > li > a:hover span,
#AllMenuText .dep2List > li.active > a span,
#AllMenuText .dep2List > li > a:hover span{ display:block; background:#f73f48 url(../images/common/layout/bg_menu_over_rig.png) no-repeat 100% 0; padding-right:2px;}

#AllMenuText .dep2List > li.active{position:relative; z-index:999;}
/* dep3 */
.dep3_Layer{position:absolute; left:133px; top:-63px; background:#fff; border:1px solid #f73f48; width:151px; z-index:10;
	padding:10px 6px 7px 6px;}
.dep3_Layer .tl, .dep3_Layer .tr,
.dep3_Layer .bl, .dep3_Layer .br{position:absolute; width:2px; height:2px;}
.dep3_Layer .tl { background:url(../images/common/dep3_Layer_tl.png) no-repeat 0 0; left:-1px; top:-1px;}
.dep3_Layer .tr { background:url(../images/common/dep3_Layer_tr.png) no-repeat 0 0; right:-1px; top:-1px;}
.dep3_Layer .bl { background:url(../images/common/dep3_Layer_bl.png) no-repeat 0 0; left:-1px; bottom:-1px;}
.dep3_Layer .br { background:url(../images/common/dep3_Layer_br.png) no-repeat 0 0; right:-1px; bottom:-1px;}
.dep3_Layer .arr { background:url(../images/common/bg_arrow_ty2.png) no-repeat 0 0; left:-5px; top:70px; position:absolute; width:6px; height:11px;}
.dep3_Layer ul > li > a{display:block; font-size:11px; color:#606060; padding-left:10px; height:22px; line-height:22px;}
.dep3_Layer ul > li.active a,
.dep3_Layer ul > li > a:hover{background-color:#f73f48; color:#fff;}

#AllMenuImg{}
#AllMenuImg li{float:left; width:182px; border-left:1px solid #ececec; height:269px;}
#AllMenuImg li:first-child{border-left:0;}
#AllMenuImg li.last{width:181px;}
#AllMenuImg li a{display:block; height:269px;}
#AllMenuImg li a:hover{background:url(../images/common/bg_imgmenuhover.gif) repeat-x 0 100%;}
#AllMenuImg .col:first-child li{border-bottom:1px solid #ececec;}

/* 하단 게시판메뉴 */
.boardMenu{border-top:1px solid #ececec; clear:both;}
.boardMenu li{border-right:1px solid #ececec;width:182px; float:left;}
.boardMenu li a{display:block; height:49px; line-height:49px; text-align:center;}

/* 전체메뉴 롤링 */
.rolling{position:absolute; right:0px; bottom:12px; height:319px; width:181px; z-index:10; border-left:1px solid #ececec; overflow:hidden;}
.rolling .rollCont{position:relative;}
.rolling .rollCont img{position:absolute; left:0; top:0;}
.rollNavi{position:absolute; left:40%; top:288px; z-index:50; text-align:center;}
.rolling .rollNavi a{float:left; background:url(../images/common/btn_pageNavi.png) no-repeat 0 0; width:8px; height:8px; margin-left:8px;}
.rolling .rollNavi a:first-child{margin-left:0;}
.rolling .rollNavi a.active{background-image:url(../images/common/btn_pageNavi_on.png);}


/* visual */
.visual{background-color:#000;text-align:center; height:179px; width:100%;}
.visual ol{width:990px; margin:0 auto;}
.visual ol li{float:left; font-family:Malgun Gothic; font-size:15px; color:#fff;}
