@charset "utf-8";
@import "common.css";
/*------------------------------------------------------
 Description : layout.css
 Auther : Dam & Ock
 date : 2015.05
 update : 
 ------------------------------------------------------*/

/* Contents Shortcut */
#skipnavi {position:absolute;top:-50px;left:0; z-index:999; width:100%;}
#skipnavi a {display:block;position:absolute;top:0; width:100%;} 
#skipnavi a:focus,
#skipnavi a:active,
#skipnavi a:hover {position:absolute;left:0px;top:50px;color:#fff;font-weight:bold;font-size:13px; text-align:center; background:#0552a9; padding:5px 0;}

#wrap {width:100%;}

/* header */
#header {position:relative; height:164px; z-index:60;}
#header h1{float:left; padding:24px 0 0 29px;}

/* TopUtil */
.topUtilWrap{height:77px;position:relative;z-index:200;width:100%;background:#fff;}
.utilMenu {float:right; color:#d7dade; padding:22px 56px 0 200px;overflow:hidden;}
.utilMenu li{float:left; padding:0 30px; height:34px;}

.utilMenu > li > a{ line-height:34px; font-size:18px;}
.utilMenu > li:first-child{background:url(../images/common/layout/bg_utilMenuBar.png) no-repeat 100% 50%; position:relative; padding:0 21px 0 0;}
.topLink{float:right;position:relative;}
.utilMenu .snsWrap a{float:left; margin-left:15px;}
.utilMenu .snsWrap a:first-child{margin-left:0;}
.utilMenu .link{width:34px;height:34px;line-height:34px;text-align:center;display:inline-block;position:relative;z-index:10;}
.utilMenu .link.active {}
.utilMenu .snsWrap{ position:absolute;top:0;right:0;height:34px;}
.utilMenu .snsWrap.active {}
.ico1, .ico2, .ico3, .ico4{right:0;width:34px;position:absolute;}

/* gnb */
div.gnbWrap{clear:both; position:relative; padding:0 0 0 88px; height:87px; z-index:60;}
div.gnbWrap .menu{clear:both;}

/* allmenu */
div.gnbWrap .allmenu{background:url(../images/common/layout/btn_amopen.png) no-repeat 0 0; width:88px; height:87px; display:inline-block;
	position:absolute; left:0; top:0; z-index:20;}
div.gnbWrap .allmenu.open{background-image:url(../images/common/layout/btn_amClose.png)}

.menu{clear:both; border-top:1px solid #7f7f7f; border-bottom:1px solid #7f7f7f; position:relative; z-index:9;}
.menu:after{content:"";display:block;clear:both;}
.menu > li{float:left; background:url(../images/common/layout/bg_gnbBar.png) no-repeat 0 50%;  height:85px; }
.menu > li:first-child{background-image:none;}
.menu > li > a{display:block; padding: 35px 35px 0 35px; font-size:18px; font-family:Myriad Pro;}
.menu > li > a:hover,
.menu > li.on > a{color:#ee2e24;}
.menu > li > a:hover span,
.menu > li.on > a span{display:inline-block; padding-bottom:3px; border-bottom:2px solid #ee2e24;}

/* 전체메뉴 */
.allmenuWrap{position:relative;left:-88px;top:-87px;}
.AllmenuLayer{position:absolute; left:0; top:87px; background-color:#fff; height:600px; width:1184px; z-index:9999; background:url(../images/common/layout/bg_AllmenuLayer.png) repeat-x 0 100%;}
.AllmenuLayer .arr{position:absolute; left:40px; top:-4px; background:url(../images/common/bg_arrow_ty1.png) no-repeat 0 0; width:9px; height:5px; z-index:30; display:inline-block;}
.menuAside{float:left; height:588px; width:88px; background-color:#ee2e24; border-top:1px solid #000;}
.menuAside li:first-child{background:url(../images/common/bg_allmenuBar.png) no-repeat 50% 100%; height:85px;}
.menuAside a{display:block; width:88px; height:84px;}
.menuAside .ttm a{background:url(../images/common/layout/btn_allmenu_text.png) no-repeat 0 0; }
.menuAside .ttm.on a{background-image:url(../images/common/layout/btn_allmenu_text_on.png);}
.menuAside .im a{background:url(../images/common/layout/allmenu_img.png) no-repeat 0 0;}
.menuAside .im.on a{background-image:url(../images/common/layout/allmenu_img_on.png);}
.menuWrap{float:left; background-color:#fff; width:1096px; height:589px;}

/* 텍스트형 */
#AllMenuText{}
#AllMenuText > ul > li {float:left; width:142px; padding:0 20px 0 20px;  border-left:1px solid #ececec; height:247px;}
#AllMenuText > ul > li.last{width:141px;}
#AllMenuText > ul > li > h2 {font-size:14px; color:#606060; font-weight:bold; background:url(../images/common/bg_bd_ty1.png) repeat-x 0 100%; padding:0 0 6px 19px;}
#AllMenuText .col{width:1096px;}
#AllMenuText .col:first-child {padding-top:37px;}
#AllMenuText .col:first-child > li{height:253px;}
#AllMenuText .col li:first-child{border-left:0;}
#AllMenuText .dep2List{margin:6px 0 0 0;}
#AllMenuText .dep2List > li{position:relative; padding-left:12px; }
#AllMenuText .dep2List > li > a{display:block; height:22px; line-height:22px; color:#606060; padding:0 0 0 10px; font-size:11px; }

.dep3_Layer ul > li.active a,
.dep3_Layer ul > li a:hover,
#AllMenuText .dep2List > li.active > a,
#AllMenuText .dep2List > li > a:hover{padding-left:10px; color:#fff; background:#f73f48 url(../images/common/layout/bg_menu_over_left.png) no-repeat 0 0;}

.dep3_Layer ul > li.active a span,
.dep3_Layer ul > li > a:hover span,
#AllMenuText .dep2List > li.active > a span,
#AllMenuText .dep2List > li > a:hover span{ display:block; background:#f73f48 url(../images/common/layout/bg_menu_over_rig.png) no-repeat 100% 0; padding-right:2px;}

#AllMenuText .dep2List > li.active{position:relative; z-index:999;}
/* dep3 */
.dep3_Layer{position:absolute; left:133px; top:-63px; background:#fff; border:1px solid #f73f48; width:151px; z-index:10;
	padding:10px 6px 7px 6px;}
.dep3_Layer .tl, .dep3_Layer .tr,
.dep3_Layer .bl, .dep3_Layer .br{position:absolute; width:2px; height:2px;}
.dep3_Layer .tl { background:url(../images/common/dep3_Layer_tl.png) no-repeat 0 0; left:-1px; top:-1px;}
.dep3_Layer .tr { background:url(../images/common/dep3_Layer_tr.png) no-repeat 0 0; right:-1px; top:-1px;}
.dep3_Layer .bl { background:url(../images/common/dep3_Layer_bl.png) no-repeat 0 0; left:-1px; bottom:-1px;}
.dep3_Layer .br { background:url(../images/common/dep3_Layer_br.png) no-repeat 0 0; right:-1px; bottom:-1px;}
.dep3_Layer .arr { background:url(../images/common/bg_arrow_ty2.png) no-repeat 0 0; left:-5px; top:70px; position:absolute; width:6px; height:11px;}
.dep3_Layer ul > li > a{display:block; font-size:11px; color:#606060; padding-left:10px; height:22px; line-height:22px;}
.dep3_Layer ul > li.active a,
.dep3_Layer ul > li > a:hover{background-color:#f73f48; color:#fff;}

#AllMenuImg{}
#AllMenuImg li{float:left; width:182px; border-left:1px solid #ececec; height:269px;}
#AllMenuImg li:first-child{border-left:0;}
#AllMenuImg li.last{width:181px;}
#AllMenuImg li a{display:block; height:269px;}
#AllMenuImg li a:hover{background:url(../images/common/bg_imgmenuhover.gif) repeat-x 0 100%;}
#AllMenuImg .col:first-child li{border-bottom:1px solid #ececec;}

/* 하단 게시판메뉴 */
.boardMenu{border-top:1px solid #ececec; clear:both;}
.boardMenu li{border-right:1px solid #ececec;width:182px; float:left;}
.boardMenu li a{display:block; height:49px; line-height:49px; text-align:center;}

/* 전체메뉴 롤링 */
.rolling{position:absolute; right:0px; bottom:12px; height:319px; width:181px; z-index:10; border-left:1px solid #ececec; overflow:hidden;}
.rolling .rollCont{position:relative;}
.rolling .rollCont img{position:absolute; left:0; top:0;}
.rollNavi{position:absolute; left:40%; top:288px; z-index:50; text-align:center;}
.rolling .rollNavi a{float:left; background:url(../images/common/btn_pageNavi.png) no-repeat 0 0; width:8px; height:8px; margin-left:8px;}
.rolling .rollNavi a:first-child{margin-left:0;}
.rolling .rollNavi a.active{background-image:url(../images/common/btn_pageNavi_on.png);}


/* visual */
.visual{background:url(../images/common/layout/bg_visual.png) no-repeat 0 0; height:179px; width:100%;}
.visual ol{width:990px; margin:0 auto;}
.visual ol li{float:left; font-family:Malgun Gothic; font-size:15px; color:#fff;}

/* container */
#container{background-color:#f4f4f4;}

/* content */

/* page */
.pageHeader{width:1300px; margin:0 auto 49px; position:relative; text-align:center;}
.pageHeader .path{position:absolute; left:50%; top:230px; font-size:13px; margin-left:-60px; color:#fff; font-size:13px;}
.pageHeader .path a{ color:#fff; font-size:13px;}
.pageHeader .path strong{font-weight:normal; color:#e42525;}

/* section */
.section{color:#a7a7a7;}

.asideFixBar{position:fixed; right:0; top:0; height:100%;  z-index:61; width:56px;z-index:200;}
.asideMenu{position:absolute; right:0; top:0; height:100%; background-color:#f73f48; padding:18px 0 0 0; width:56px; z-index:10;}
.asideMenu li a{display:block;}
.asideMenu .menu1 a{background:url(../images/common/layout/bg_side01.png) no-repeat 0 0; width:56px; height:59px;}
.asideMenu .menu1 a.on{background-image:url(../images/common/layout/bg_side01_on.png);}
.asideMenu .menu2 a{background:url(../images/common/layout/bg_side02.png) no-repeat 0 0; width:56px; height:59px;}
.asideMenu .menu2 a.on{background-image:url(../images/common/layout/bg_side02_on.png);}
.asideMenu .menu3 a{background:url(../images/common/layout/bg_side03.png) no-repeat 0 0; width:56px; height:59px;}
.asideMenu .menu3 a.on{background-image:url(../images/common/layout/bg_side03_on.png);}
.asideMenu .menu4 a{background:url(../images/common/layout/bg_side03.png) no-repeat 0 0; width:56px; height:59px;}
.asideMenu .menu4 a.on{background-image:url(../images/common/layout/bg_side03_on.png);}

.asdLayer{width:290px; position:absolute; left:-290px; top:0; bottom:0; height:100%; background-color:#fff; border-left:1px solid #dddddd;}
.asdLayer > div{ margin:78px 0 0 12px;}

/* aside close */
.asdLayer .asd_close{position:absolute; left:12px; top:24px; background:url(../images/common/btn_asd_close.png) no-repeat 0 0; padding-left:41px; height:31px; line-height:31px; font-size:12px; color:#828282;}
/* aside search */
.schForm{background:url(../images/common/layout/bg_sch-form.png) no-repeat 0 0; width:264px; height:49px; font-size:0; position:relative; padding:2px 0 0 2px;}
.schForm input{height:45px; line-height:45px; border:none; color:#ff757c; padding:0 0 0 5px; position:absolute; left:3px; top:3px;}
.schForm .btnSch{background:url(../images/common/layout/btn-sch.png) no-repeat 0 0; width:58px; height:51px; position:absolute; right:0; top:0;}
/* 키워드검색 */
.schKeyword {margin-top:6px; padding:10px 23px 0 15px; width:225px; background-color:#fcfcfc;}
.schKeyword li{overflow:hidden;}
.schKeyword li a{float:left; font-size:11px; color:#ababab;}
.schKeyword li button{float:right; background:url(../images/common/btn_keywordDel.png) no-repeat 0 0; width:7px; height:7px;}
/* 카테고리검색 */
.schcate {margin-top:6px; padding:10px 23px 0 15px; width:225px; background-color:#fcfcfc;}
.schcate li a{font-size:11px; color:#ababab;}
.schcate li a strong{font-weight:normal; color:#ff767d;}

/* 인기검색어 */
.bestsch{margin-top:25px;}
.bestsch dt{font-size:16px; font-family:NanumGothic; color:#4d5055; padding-left:15px; background-color:#fbfbfb;
	width:250px; height:40px; border:1px solid #c9c9c9; border-top:0; border-left:0; line-height:40px;}
.bestsch dd{width:265px; margin-top:10px;}
.bestsch dd a{font-size:12px; color:#9699a1; padding-left:15px;}

/* 로그인 */
.loginBefore .col{margin-top:5px; display:block; background:url(../images/common/layout/bg_login.png) no-repeat 0 0; width:264px; height:39px; vertical-align:top; padding:1px; position:relative;}
.loginBefore .col input{height:38px; line-height:38px; border:0; padding:0 0 0 0; position:absolute; left:1px;}
.loginBefore .col:first-child{margin-top:0;}
.loginBefore .login-btn{display:block; background:url(../images/common/layout/btn_login.png) no-repeat 0 0; width:266px; height:41px; margin-top:5px;}
.autoLogin{padding:12px 0 0 8px; display:block;}
.autoLogin label{font-size:11px; color:#676a75; margin-left:8px;}
.idFind{margin:30px 0 0 0;}
.idFind > span{border:1px dotted #676a75; border-left:0; border-right:0; display:block; padding:15px 0; text-align:center;}
.idFind .other{ color:#ff6a71; font-size:11px; margin:30px 0 0 0;}

/* 로그인후 */
.userInfo{width:265px;}
.userInfo:after{content:"";display:block;clear:both;}
.profile{position:relative; width:90px; height:90px; display:block; text-align:center;float:left;margin:15px 0 0 10px;}
.profile .imgMask{display:inline-block; background:url(../images/common/layout/img_mask1.png) no-repeat 0 0; width:90px; height:90px;
	position:absolute; left:0; top:0;}
.user{display:block; margin:35px 0 12px 20px; font-size:12px; color:#a5a5a5;float:left;}
.user strong{font-size:15px; color:#62666c;}
.userEdit {display:block; text-align:center; margin:0 0 35px 0;}

/* 배송지등록 */
.deliveray{width:265px; margin:25px 0 0 0; background:url(../images/common/bg_bd_ty1.png) repeat-x 0 100%; padding:0 0 15px 0;}
.deliveray > li{padding:0 20px;}
.deliveray > li > a{display:block; font-size:12px;  color:#a0a0a0; background:url(../images/common/bg_arrow_ty3.gif) no-repeat 100% center; line-height:26px;}
.deliveray > li > a.on{background-image:url(../images/common/bg_arrow_ty3_on.gif); color:#676a75}
.deliveray > li > a:hover{background-image:url(../images/common/bg_arrow_ty3_hover.gif); color:#676a75;}
.deliveray .box_ty3{margin:5px 0 15px 0;}
.deliveray .box_ty3 .box_ty3_inner{padding:13px 0 0 13px;}
.deliveray .box_ty3 .box_ty3_inner li a{line-height:18px; font-size:11px; color:#868686;}
.deliveray .box_ty3 .box_ty3_inner .btn_deil_change{padding:7px 0 15px 0; display:block;}

/* 추천상품 */
.recoProduct{}
.recoText{ color:#a5a5a5;}
.recoText strong{color:#62666c; margin-right:10px;}
.recoProduct .recoList{margin:10px 12px 0 0;}
.recoProduct .recoList > ul{border-bottom:1px solid #e9e9e9;}
.recoProduct .recoList li{border-top:1px solid #e9e9e9; position:relative; overflow:hidden;}
.recoProduct .discountInfo{background:url(../images/common/bg_reco_discount.png) no-repeat 0 0; width:37px; height:32px; line-height:32px; font-size:12px; font-family:Malgun Gothic; display:inline-block;
	left:10px; top:10px; color:#fff; text-align:center; position:absolute; left:10px; top:10px;}
.recoProduct .recoList .thumInfo{float:left; width:107px; margin:14px 0 0 13px;}
.recoProduct .recoList .txtInfo{float:left; width:126px; margin:25px 20px 0 0;}
.recoProduct .recoList .txtInfo a{color:#a3a3a3; font-size:12px;}
.recoProduct .recoList .price{display:block; margin:10px 0 0 0; font-size:14px; color:#414141;}

/* help */
.help{display:block; text-align:right; padding:0 10px 10px 0;clear:both;}

/* 장바구니 */
.asdLayer .cartWrap{margin-left:0;}
.asdLayer .cartWrap .userInfo{margin-left:12px;}
.cartList{margin-top:16px;height:500px;overflow:hidden;overflow-y:auto;}
.cartList li{border-top:1px solid #e5e5e5; overflow:hidden; padding:17px 35px 8px 0; position:relative;}
.cartList li:first-child{border-top:0;}
.cartList li .thumInfo{width:49px; float:left; margin:0 21px 0 28px;}
.cartList li .thumInfo .thumImg{width:49px; height:44px;}
.cartList li .textInfo{width:157px; float:left;}
.cartList li .pdName{ color:#a3a3a3; font-size:12px;}
.cartList li .price{display:block; text-align:right;}
.cartList .thumOver{background:url(../images/common/bg_mask.png) repeat 0 0; width:290px; height:555px; padding:23px 0 0 0; top:1px;}
.cartList .thumOver .item{font-size:20px; height:32px; line-height:36px; display:inline-block; color:#fff; font-family:'NanumGothicBold'; vertical-align:top; margin-left:43px;}
.cartList .thumOver .act{display:inline-block; width:69px; font-size:0; vertical-align:top; margin:0 91px 0 30px;}
.cartList .thumOver .act button{background:url(../images/common/btn_plus_ty2.png) no-repeat 0 0; width:35px; height:32px;}
.cartList .thumOver .act .minus{background-image:url(../images/common/btn_minus_ty2.png); width:34px;}
.cartDel{background:url(../images/common/btn_cartDel.png) no-repeat 0 0; width:13px; height:13px; vertical-align:top; margin:9px 0 0 0;}

/* 장바구니금액 */
.totalPrice{position:absolute; bottom:10px; left:12px;}
.totalPrice dl{padding:12px 0 0 8px; background-color:#ffffff; margin: 0 0 10px 0;}
.totalPrice dt{color:#a8a8a8;}
.totalPrice dd{font-size:14px; color:#606060; text-align:right; font-weight:bold;}
.totalPrice dd strong{font-family:Myriad Pro; font-size:24px; font-weight:bold;}


/* guideWrap */
.guide h2{font-family:'NanumGothic'; font-size:16px; height:62px; line-height:62px; padding:0 0 0 15px;}
.guide h2 strong{font-weight:bold;}
.guide .guideList{margin:17px 12px 0 0;}
.guide .guideList > li{background:url(../images/common/bg_bd_ty1.png) repeat-x 0 100%; padding:0 19px 0 10px;}
.guide .guideList > li > a{display:block; height:40px; line-height:40px; font-size:12px;  color:#a0a0a0; background:url(../images/common/bg_arrow_ty3.gif) no-repeat 100% 50%;}
.guide .guideList > li > a:hover{background-image:url(../images/common/bg_arrow_ty3_hover.gif); color:#676a75;}

/* applist */
.appList{margin:17px 0 0 0;}

/* aside smartLink */
.smartLinkList{position:absolute; bottom:0; }

/* fixbar 하단 */
.asdBtmFix{text-align:center; position:absolute; bottom:50px; width:56px; z-index:14;}
.asdBtmFix span{display:block; margin:0 0 25px 0;}
.asdBtmFix span a{color:#fff; font-size:12px; display:block; padding-top:13px; font-weight:bold; font-family:Verdana; font-size:11px;}
.asdBtmFix span a:first-child{background:url(../images/common/bg_asdBtmFixBar.png) no-repeat 50% 100%; padding:0 0 13px 0;}

/* user guide */
.layerFooter{height:77px; background:#f73f48; text-align:center;}
.layerFooter .next{font-family:Myriad Pro; font-size:24px; display:inline-block; color:#fff;}
.layerFooter .pageNum{display:inline-block; margin-top:35px; margin-left:15px;}
.layerFooter .pageNum a{display:inline-block; background:url(../images/common/btn_guide_pageNum.png) no-repeat 0 0; width:8px; height:8px;}
.layerFooter .pageNum a.active{background-image:url(../images/common/btn_guide_pageNum_on.png);}


/* footer */
#footer{background:#f4f4f4 url(../images/common/layout/bg_footer.png) repeat-x 0 0; height:167px;}
#footer .footerinner{margin-left:126px; position:relative;}
#footer .footerinner h2.logo{ position:absolute; left:0; top:65px;}
#footer .footerMenu{overflow:hidden; position:absolute; left:-18px; top:0; height:36px;}
#footer .footerMenu a{display:inline-block; color:#7c7d7f; font-size:13px; height:36px; line-height:36px; font-family:'NanumGothicBold'; padding:0 18px; background:url(../images/common/layout/bg_footermenuBar.png) no-repeat 0 50%;}
#footer .footerMenu a:first-child{background-image:none;}
#footer .footertxt{padding:65px 0 0 142px; color:#b0b3b6; font-size:11px;}

#footer address{padding:10px 0 0 142px; line-height:15px; color:#7b848c; font-size:11px;}
#footer address strong{font-weight:normal; margin-left:18px;}
#footer address > p strong:first-child{margin-left:0;}
#footer address .copy{}























