@charset "utf-8";

/* 오시는길 */
.map{}
.map_tit{margin:50px 0 35px 0; overflow:hidden;}
.map_tit li{float:left; width:325px;}
.map_tit li strong{font-size:18px; color:#444444; font-weight:normal; display:block;}
.map_tit li span{font-size:15px; display:block; padding:10px 0 0 0;}

/* 비지니스안내 */
.business{margin:50px 0 0 0;}
.hdTxt{font-size:15px; color:#444;}
.listD1{margin-top:50px;}
.hdTxt + .listD1{margin-top:47px;}
.listD1 > li > span{font-size:18px; color:#444; font-family:"aritadsb"}
.listD1 > li{line-height:50px;}
.listD1 li{color:#797979;}
.listD2 {padding:0 0 25px 0px;}
.listD2 > li{font-size:15px; line-height:40px; color:#a7a7a7; line-height:25px;}
.listD3 {padding:0 0 12px 19px;}
.listD3 > li{font-size:15px; line-height:30px; color:#a7a7a7;}
.listD1 > li > span,
.listD2 > li > span,
.listD3 > li > span{display: block; text-indent: -20px; margin-left: 20px;}
.txtDesc{font-size:15px; color:#a7a7a7; line-height:25px;}
.textdesc_ty1{font-size:15px; color:#a7a7a7;}

/* 마케팅플랜 type */
.stit_ty1{font-size:18px; font-family:"aritadsb"; color:#444; margin-top:50px;}
.stit_ty1 + .txtDesc{margin-top:23px;}
.stit_ty1 + .list_ty1,
.stit_ty1 + .list_ty2{margin-top:23px;}
.list_ty1 li{font-size:15px; line-height:30px; color:#a7a7a7;}
.list_ty1 li strong{color:#444444; font-weight:normal; font-family:"aritadsb";}

.listdsc_ty1{color:#1d2088;}
.dep2_ty1{color:#a7a7a7; font-size:15px; line-height:25px; margin:0 0 10px 15px;}



/* 회원관리규정 list 2dep type */
.list_ty2.dot_gray > li{padding-left:15px;}
.list_ty2 li{font-size:15px; line-height:30px; color:#a7a7a7;}
.list_ty2 > li {}
.list_ty2 > li > span{display: block; text-indent: -20px; margin-left: 20px;}
.list_ty2 > li{color:#444; margin-top:20px;}
.list_ty2 > li:first-child{margin-top:0;}
.list_ty2 > li > span + .dep2_ty2{padding-left:0;}

.dep2_ty2{padding-left:15px; font-size:15px;}
.dep2_ty2 > li{margin-top:}
.dep2_ty2 > li:first-child{margin-top:0px;}
.dep2_ty2 > li > span{display: block; text-indent: -20px; margin-left: 20px;}

.dep2dsc_ty1 + .dep2_ty2{margin-top:23px;}

/* 회원관리규정 list desc 2dep type */
.dep2dsc_ty1{font-size:15px; color:#a7a7a7; line-height:25px;}
.dep2dsc_ty2{font-size:15px; color:#a7a7a7; line-height:25px; padding-left:16px;}
.dep3dsc_ty1{padding-left:23px; line-height:25px;}
.dep4dsc_ty1{padding-left:23px; line-height:25px;}
.dep5dsc_ty1{padding-left:23px; line-height:25px;}
/* 회원관리규정 list desc 3dep type */
.dep3_ty1{padding:5px 0 5px 15px; font-size:15px; line-height:25px;}
.dep3_ty1 > li > span{display: block; text-indent: -20px; margin-left: 20px; }
.dep4_ty1{padding:0 0 0 17px; font-size:15px; line-height:25px;}
.dep4_ty1 > li > span{display: block; text-indent: -20px; margin-left: 20px;}
.dep5_ty1{padding:0 0 0 17px; font-size:13px; line-height:25px;}
.dep5_ty1 > li{font-size:13px;}
.dep5_ty1 > li > span{display: block; text-indent: -20px; margin-left: 20px;}


/* ico */
.dot_gray > li{background:url(../../images/os/new/common/ico_grayDot.gif) no-repeat 0 13px; padding-left:10px; line-height:30px;}
.rmark > li{background:url(../../images/os/new/common/ico_rmark.gif) no-repeat 0 7px; padding-left:16px;}
.ico_pv{border-radius:2px; -webkit-border-radius:2px; -ms-border-radius:2px; -moz-border-radius:2px; 
	border:1px solid #1d2088; font-family:verdana; font-size:9px; padding:0 2px; color:#1d2088; font-weight:bold;
	text-align:center; vertical-align:middle; margin-left:5px;}
.hyphen{background:url(../images/common/bg_hyphen.gif) no-repeat 0 0px; text-indent:-9999px; height:1px; display:inline-block;
	width:6px; vertical-align:middle;
}

/* 마케팅플랜 - 회원가입조건 */
.Condition{overflow:hidden; border:1px solid #e6e6e6; margin:15px 0 0 -10px;}
.Condition > li{background:none; float:left; width:301px; border-left:1px solid #e6e6e6; padding:0; margin:0; height:658px; padding-left:19px;
}
.Condition > li > strong{ font-size:18px; color:#444;}
.Condition > li:first-child{border-left:0;}
.Condition > li ul{margin-left:15px;}
.Condition li li{background:none; padding:0; margin:0; color:#444; position:relative; padding-left:12px; margin-top:34px; line-height:25px;}
.Condition li li:first-child{margin-top:0;}
.Condition li .product,
.Condition li .price{display:block;}
.Condition li .price{color:#1d2088; text-decoration:underline;}
.Condition li .product{color:#a7a7a7;}
.Condition li .indent{position:absolute; left:0; top:0;}

/* 제품리스트 */
#productList{overflow:hidden; margin-top:50px;}
#productList > ul{overflow:hidden; margin-left:-60px;}
#productList > ul > li{float:left; width:280px; margin:0 0 60px 60px; overflow:hidden;}
#productList > ul > li .pdImg{display:block; padding-bottom:18px;}
#productList > ul > li .pdTit{text-align:center; line-height:25px; font-size:15px; height:63px;}
#productList > ul > li .pdTit span{display:block;}
#productList > ul > li .pdTit strong{display:block; font-weight:normal; color:#444;}


/* 제품상세 */
#productDetail{margin:50px 0 70px 0; height:500px;}
.DetailImg{float:left; margin-right:50px;}
.DetailImg img{width:500px; height:500px;}
.DetailView{float:left; width:750px;}
.DetailView .product-tit{margin:0 0 50px 0;}
.DetailView .product-tit h2{font-family:"aritadsb"; font-size:24px; color:#444; font-weight:normal;}
.DetailView .product-tit h2 span{font-size:15px; color:#a7a7a7; display:block;}
.pd-area > li{padding:0 0 20px 0;}
.pd-area .pdTitle{font-family:"aritadsb"; font-size:15px; color:#444; display:inline-block; background:url(../images/common/ico_grayDot.gif) no-repeat 0 11px; padding-left:10px; width:100px;}
.pd-area .pfArea,
.pd-area .pdText{color:#a7a7a7; font-size:15px; line-height:25px;}
.pd-area .pdText{display:inline-block;}
.pd-area .pdText .price{font-family:"aritadsb"; font-size:15px; vertical-align:middle; display:inline-block; padding:2px 0 0 0; color:#444;}
.pd-area .pdText .price em{font-size:40px; font-weight:bold;}
.pd-area .pdText .pv{font-family:"aritadsb"; font-size:15px; vertical-align:middle; display:inline-block; padding:2px 0 0 0; color:#1d2088;}
.pd-area .pdText .pv em{font-size:20px; vertical-align:middle; line-height:25px; font-weight:normal;}
.pd-area .pfArea{padding:5px 0 5px 15px;}
.pd-area .cntCtrl{overflow:hidden;}
.pd-area .cntCtrl .pdTitle{float:left; margin-top:4px;}
.pd-area .cntCtrl .formCount{float:left;}
.pd-area .cntCtrl .txt{display:inline-block; line-height:30px; padding:0 0 0 10px;}
.DetailView .total{padding:30px 0; margin-bottom:60px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.DetailView .total .pdTitle{font-size:20px; color:#444; display:inline-block; width:100px;}
.DetailView .total .pdText{font-family:"aritadsb"; font-size:15px; color:#444;}
.DetailView .total .pdText em{font-size:20px; font-weight:bold; color:#444;}

/* 제품상세정보 */
.detailInfo{margin-bottom:60px;}
.detailDiv{font-size:15px; margin:40px 0 0 0; line-height:25px; padding-bottom:30px; border-bottom:1px solid #e6e6e6;}
.detailDiv strong{display:inline-block; font-weight:normal; margin-top:30px;}
.detailDiv .tit_ty1{color:#1d2088;}
.detailDiv .tit_ty2{color:#444444;}

.detailDiv > div + .tit_ty1{margin-top:0;}
.dtxt_ty1 + .tit_ty2{margin-top:55px;}
.infoD{margin-top:55px;}
.infoD li{line-height:25px;}
.infoD strong{font-weight:normal; color:#444; margin-top:0;}


/* 쇼핑리스트 */
#productList .price{font-size:15px; overflow:hidden; padding-top:15px; border-top:1px solid #e6e6e6;}
#productList .price li{overflow:hidden; margin-top:15px;}
#productList .price li:first-child{margin-top:0;}
#productList .price .prTitle{color:#a7a7a7; display:inline-block; width:48px;}
#productList .price .prbuy{color:#444444;}
#productList .price .prPv{color:#1d2088;}

#productList .price .prTitle.cnt{float:left;}
#productList .price .cntCtrl{float:left; overflow:hidden;}
#productList .price .cntCtrl .formCount{float:left;}
#productList .price .cntCtrl .btn{float:left; margin-left:10px;}

/* 가격 */
.formCount{}
.formCount *{float:left;}
.formCount button{background:url(../images/common/btn_minus.gif) no-repeat 0 0; width:30px; height:30px; border:1px solid #dddddd;}
.formCount .amt{border:1px solid #dddddd; height:28px; line-height:28px; text-align:center; width:50px;}
.formCount .btnPlus{background-image:url(../images/common/btn_plus.gif); border-left:0;}
.formCount .btnMinus{border-right:0;}


/* 장바구니 */
.orderStep{overflow: hidden; margin:50px 0 60px 0;}
.orderStep li{float:left; border:1px solid #e6e6e6; border-left:0; border-right:0; position:relative;}
.orderStep li span{display:block; width:294px; padding-left:29px; height: 98px; line-height:98px; font-size:15px; color:#444;  font-family:"aritadsb";
	border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; margin-left:-1px;}
.orderStep li:first-child span{border-left:1px solid #e6e6e6; margin-left:0;}
.orderStep li:first-child:before{background:none;}
.orderStep li:before{content:''; display:block; background:url(../images/common/bg_stepArrow.png) no-repeat 0 0;
	position:absolute; left:-21px; top:50%; width:40px; height:40px; margin-top:-20px;}
.orderStep li.on,
.orderStep li.on span{border-color:#454545;}
.orderStep li.on + li span{border-left:0;}

/* step 공통 헤딩 */
.subtit{font-family:"aritadsb"; font-size:20px; color:#444;} 
.subtit_dsc{font-size:13px; margin-top:8px; color:#a7a7a7;}  

#cartWrap{}
#cartWrap .cartList{margin-top:40px;}  
#cartWrap .cartList thead th{border-top:2px solid #444444; border-bottom:1px solid #444; font-family:"aritadsb"; padding:15px 0;
	font-size:15px; text-align:center; color:#444;}
#cartWrap .cartList tbody td{padding:20px 0; font-size:15px; color:#444; text-align:center; border-top:1px solid #e6e6e6;}
#cartWrap .cartList tbody td.product_image{padding-left:20px;}
#cartWrap .cartList tbody td.cartInfo{padding-left:30px; text-align:left;}
#cartWrap .cartList tbody td.cartPrice{}
#cartWrap .cartList tbody td.cartPrice > span{display:block; line-height:25px;}
#cartWrap .cartList tbody td.cartPrice .ct_pv em{color:#1d2088;}

/* 장바구니 더하기,빼기 버튼 */
.cartAmount .cartForm{border:1px solid #c4c2c0; width:63px; height:28px; float:left;}
.cartAmount input{width:29px; height:20px; border:0; float:left; text-align:center; font-size:15px; color:#444444;}
.cartAmount .btnset{float:left; width:25px; border-left:1px solid #c4c2c0;}
.cartAmount .btnset button{width:25px; height:14px; display:block;}
.cartAmount button.btn_ctPlus{background:url(../images/common/bg_ctPlus.gif) no-repeat 0 0;}
.cartAmount button.btn_ctMinus{background:url(../images/common/bg_ctMinus.gif) no-repeat 0 0;}

.payment{border-bottom:2px solid #444; margin-bottom:60px;}
.payment tbody tr:first-child td{border-top:2px solid #444444; padding:20px 0 5px 0; border-bottom:0;}
.payment tbody td{font-size:20px; color:#444; font-weight:bold; padding-bottom:20px;}
.payment tbody td.payment_sum{font-weight:normal;}
.payment tbody td.payment_sum span{font-size:15px;}
.payment tbody td.payment_sum em{font-weight:bold; font-size:20px; font-family:"aritadsb";}
.payment tbody td.payment_sum .imgSum{margin:0 32px;}
.payment tbody td.payment_price{text-align:right; font-family:"aritadsb"; font-size:40px;}
.payment tbody td.pv_sum{color:#1d2088;text-align:right; font-family:"aritadsb"; font-size:30px;}
.payment tbody td.payment_price span{font-size:15px;}


/* 주문완료 */
.orderOkCont{padding:45px 0; text-align:center; line-height:30px; color:#444; font-size:20px;
	border-top:2px solid #444; border-bottom:1px solid #444; margin:40px 0 60px 0;
}
.orderOkCont strong{ font-family:"aritadsb"; font-weight:bold;}
.orderOkCont .orderNumber{background-color:#f4f4f4; display:inline-block; height:40px; line-height:40px; padding:0 14px;}
.orderOkCont .orderNumber strong{color:#1d2088;}
.orderOkCont .txtex{font-size:15px; color:#a7a7a7; line-height:25px;}


/* table */
.tbl_ty1{clear:both;width:100%;margin:20px auto;}
.tbl_ty1 th,.tbl_ty1 td{border:1px solid #e6e6e6; text-align:center; line-height:22px; font-size:15px;}
.tbl_ty1 th{font-weight:normal;font-size:15px;color:#444444;padding:10px; text-align:center; background-color:#f2f2f2; border-top:1px solid #444444;}
.tbl_ty1 td{font-size:15px;color:#a7a7a7;padding:10px;}
.tbl_ty1 td strong{font-size:15px; color:#343d45; display:block; font-weight:normal; padding:0 0 12px 0;}

.tbl_ty2{clear:both;width:100%;margin:20px auto;}
.tbl_ty2 th,.tbl_ty2 td{border:1px solid #e6e6e6; text-align:center; line-height:22px; font-size:15px;}
.tbl_ty2 thead th{font-weight:normal;font-size:15px;color:#444444;padding:10px; text-align:center; background-color:#f2f2f2; border-top:1px solid #444444;}
.tbl_ty2 td{font-size:15px;color:#a7a7a7;padding:10px;}
.tbl_ty2 tbody th{font-size:15px; color:#444444; font-family:Myriad Pro; font-weight:normal;}

.tbl_ty3{clear:both;width:100%; margin:40px 0 55px; border-top:2px solid #444; border-bottom:1px solid #444;}
.tbl_ty3 th,.tbl_ty3 td{text-align:left; border-top:1px solid #e6e6e6; line-height:22px; font-size:15px; color:#444;}
.tbl_ty3 tbody th{font-weight:normal; font-family:"aritadsb"; padding:18px 0 18px 20px;}
.tbl_ty3 tbody td{padding:10px 0; color:#a7a7a7;}
.tbl_ty3 tbody td select{border:1px solid #dddddd; height:28px; line-height:28px; font-family:'aritadm'; color:#a7a7a7;}
.tbl_ty3 tbody td input{height:28px; line-height:30px; border:1px solid #dddddd; font-family:'aritadm';}
.tbl_ty3 tbody td input.disable{height:30px; background-color:#f4f4f4; border:none; }
.tbl_ty3 tbody td input + .md_ty3{margin-left:10px;}
.tbl_ty3 tbody td .hyphen{margin:0 13px;}
.tbl_ty3 tbody td .col{display:block; margin-top:12px;}
.tbl_ty3 tbody td .col input + input{margin-top:12px;display:block;}
.tbl_ty3 tbody td input + label{display:inline-block; margin:0 40px 0 10px; color:#a7a7a7;}
.tbl_ty3 tbody td .delivery{}
.tbl_ty3 tbody td textarea{padding:12px; vertical-align:middle;background-color:#f4f4f4; border:none; font-family:'aritadm';}
.tbl_ty3 tbody td textarea + p{padding-top:5px;}
.tbl_ty3 tbody td .delivery p{font-size:13px; line-height:20px; color:#a7a7a7;}
.tbl_ty3 tbody td .txtex{font-size:13px; line-height:20px; color:#a7a7a7; margin-left:10px;}
 

 /* 회원가입절차 - step1_약관동의*/
.agreeBox{background-color:#f4f4f4; overflow-y: scroll; color:#a7a7a7; height: 190px; padding:25px 30px 25px 30px; margin-bottom: 8px; margin-top:40px; font-size:13px;}
.agreeBox p{margin-bottom:15px; line-height:17px;}
.agree_check{margin-top:20px;}
.agree_check label{color:#6e6e6e; font-size:15px; color:#a7a7a7;}
.agree_wrap + .subtit{margin-top:57px;}

/* 회원가입절차 - step2_회원정보입력*/
.tbl_form +.form-top {margin:50px 0 30px 0;}
.form-top {margin:0 0 30px 0;}
.form-top span{ color:#e42525; font-size:15px; font-family:'aritasb';}
.tbl_form{border-bottom:1px solid #e9e9e9;}
.tbl_form th, .tbl_form td {text-align:left;line-height:22px; font-size:15px; border-top:1px solid #e6e6e6;font-family:'aritasb';}
.tbl_form tr:first-child th ,
.tbl_form tr:first-child td{border-top:2px solid #444444;}
.tbl_form th{color:#444; font-weight:normal; line-height:15px;}
.tbl_form th > span{margin:0 5px 0 16px; color:#e42525; font-size:15px; font-family:'aritasb'; vertical-align:middle;}
.tbl_form th label, .tbl_form th .label{margin:0 0 0 27px; color:#444; font-weight:normal; }
.tbl_form th span + label{margin-left:0;}
.tbl_form td {padding:10px 10px 10px 20px; color:#a7a7a7;}
.tbl_form td a {vertical-align:top;}
.tbl_form td input[type="password"],
.tbl_form td input[type="text"] {height:32px; line-height:32px; font-size:1em; background-color:#f4f4f4; border:0;}
.tbl_form td input + .btn {margin-left:10px;}
.tbl_form td .info_desc {color:#444; font-size:13px; margin-left:15px; font-family:'aritadm';}
.tbl_form td .addfile .info_desc{display:block; margin:10px 0 0 0;}
.tbl_form td .fileList{color:#f87806;}
.tbl_form td .fileList .btn{margin-left:10px;} 

/* home 리스트 검색 */
.home_wrap{margin-left:121px;}
.home_wrap + .grid{margin-top:37px;}
.home_wrap:after{content:"";display:block;clear:both;}
.home_wrap h2{float:left;background:url(../images/common/bg_line_ty2.gif) no-repeat right 9px;padding-right:38px;margin-right:20px;margin-top:13px;}

/* 셀렉트박스 */
.select_bx{float:left;}
.select_bx .bx{border:1px solid #c7c7c7;position:relative;padding:13px 0 14px 18px;width:178px;margin-right:10px;cursor:pointer;background:#fff;}
.select_bx .bx .tr{background:url(../images/common/bg_box_ty5_tr.gif) no-repeat;width:5px;height:5px;position:absolute;right:-1px;top:-1px;z-index:1;}
.select_bx .bx .tl{background:url(../images/common/bg_box_ty5_tl.gif) no-repeat;width:5px;height:5px;position:absolute;left:-1px;top:-1px;z-index:1;}
.select_bx .bx .bl{background:url(../images/common/bg_box_ty5_bl.gif) no-repeat;width:5px;height:5px;position:absolute;left:-1px;bottom:-1px;z-index:1;}
.select_bx .bx .br{background:url(../images/common/bg_box_ty5_br.gif) no-repeat;width:5px;height:5px;position:absolute;right:-1px;bottom:-1px;z-index:1;}
.select_bx .tit{font-size:15px;}
/* 셀렉트박스 on */
.select_bx.active .bx{border:1px solid #ee2e24;border-bottom:0;background:#fff;z-index:100;}
.select_bx.active .bx .tr{background:url(../images/common/bg_box_ty6_tr.gif) no-repeat;width:5px;height:5px;position:absolute;right:-1px;top:-1px;z-index:1;}
.select_bx.active .bx .tl{background:url(../images/common/bg_box_ty6_tl.gif) no-repeat;width:5px;height:5px;position:absolute;left:-1px;top:-1px;z-index:1;}
.select_bx.active .bx .bl{background:none;}
.select_bx.active .bx .br{background:none;}
.select_bx.active .set_list{background:url(../images/common/bg_select_dot.gif) #fff no-repeat 0 0;border:1px solid #ee2e24;border-top:0;position:absolute;left:0;top:49px;z-index:100;width:176px;padding:0 10px 25px 10px;margin-left:-1px;}
.select_bx.active .set_list .bl{background:url(../images/common/bg_box_ty6_bl.gif) no-repeat;width:5px;height:5px;position:absolute;left:-1px;bottom:-1px;z-index:1;}
.select_bx.active .set_list .br{background:url(../images/common/bg_box_ty6_br.gif) no-repeat;width:5px;height:5px;position:absolute;right:-1px;bottom:-1px;z-index:1;}
.select_bx.active ul{}
.select_bx.active ul li {height:28px;line-height:28px;}
.select_bx.active .tit a{color:#ee2e24;}
.select_bx .bx .tit > a > img {position:absolute;right:19px;top:50%;margin-top:-4px;}
.select_bx ul li:first-child{padding-top:9px;}
.select_bx ul > li > a{display:block; font-size:13px; color:#ababab; padding-left:7px; height:29px; line-height:29px;}
.select_bx ul > li.active a,
.select_bx ul > li > a:hover{background-color:#f73f48; color:#fff; border-radius:2px;}

.select_bx.set_ty1 .bx{padding:8px 12px;}
.select_bx.set_ty1 .tit {font-size:12px;}
/* 서브검색 */
.explain{color:#ee2e24;margin-left:10px;padding-left:10px;background:url(../images/common/bg_line_ty1.gif) no-repeat 0 6px;display:inline-block;font-size:15px;height:30px;line-height:30px;}
.explain > span{color:#898989;padding-left:10px;}

.thumb_ty1{position:relative;margin-bottom:10px;}
.thumb_ty1:after{content:"";display:block;clear:both;}
.thumb_ty1 .tit_ty2{float:left;}

.sch_list {float:right;}
.sch_list ul{float:left;}
.sch_list ul li{background:url(../images/common/bg_line_ty3.gif) no-repeat 0 11px;float:left;padding:0 15px;height:29px;line-height:29px;color:#84858c;}
.sch_list ul li:first-child{background:none;}
.sch_list .schForm {background:url(../images/common/bg_sch_form_ty1.gif) no-repeat 0 0;font-size:0;height:29px;padding:1px 0 0 1px;position:relative;width:284px;float:left;}
.sch_list .schForm input{color:#c1c1c1;border:none;height:24px;line-height:24px;position:absolute;left:10px;top:3px;}
.sch_list .schForm .btnSch{background:url(../images/common/btn_sch_ty1.gif) no-repeat 0 0;height:29px;position:absolute;right:0;top:0;width:52px;}

/* 스크롤 메뉴 */
div.gnbWrap.gnbScroll{position:fixed;width:100%;border-bottom:1px solid #7a7a7a;padding:0;background:#fff;}
div.gnbWrap.gnbScroll .allmenu{top:0;}
div.gnbWrap.gnbScroll .home_wrap{padding:19px 0 0 0;height:69px;border-bottom:0;}
div.gnbWrap.gnbScroll .AllmenuLayer{top:88px;}
.select_bx .bx.st_choice{border-radius:5px;height:22px;line-height:22px;background-color:#ee2e24;color:#fff;display:block;}

/* 상품상세 */
.pro_detail{position:relative;background:url(../images/common/bg_line_ty6.gif) repeat-y 1072px 0;}
.pro_detail:after{content:"";display:block;clear:both;}
.pro_detail .sub_wrap{padding-top:40px;}
.pro_detail .left{float:left;width:1034px;border:1px solid #dbdbdb;background:#fff;padding:32px 0;margin-right:30px;}
.pro_detail .left .tit_money, .img_hover {font-family:'NanumGothic';padding:0 32px;}
.pro_detail .left .tit_money{padding-bottom:25px;border-bottom:1px solid #dbdbdb;}
.pro_detail .left .tit_money:after{content:"";display:block;clear:both;}
.pro_detail .left .tit_money h3{float:left;font-size:26px;font-family:'NanumGothicBold';width:750px;}

.low_price {float:right;}
.low_price .low{font-size:15px;color:#bababa;margin-right:10px;}
.low_price .detailForm{background:url(../images/common/bg_input_ty1.gif) no-repeat 0 0;width:164px;height:45px;display:inline-block;}
.low_price .detailForm input{height:35px;line-height:35px;border:0;background:none;font-family:'NanumGothicBold';color:#fff;
font-size:22px;width:139px;padding:5px 20px 5px 5px;text-align:right;}

.img_hover{padding:0 31px;height:540px;background:url(../images/common/bg_bder_ty1.gif) repeat-y 517px 0;}
.img_hover:after{content:"";display:block;clear:both;}
.img_hover .photo {width:485px;position:relative;float:left;}
.img_hover .photo ul{position:absolute;right:12px;top:13px;}
.img_hover .photo ul li{background:url(../images/common/bg_box_ty7.gif) no-repeat 0 0;margin-top:10px;width:78px;height:78px;}
.img_hover .photo .pho_img{width:396px;height:396px;overflow:hidden;text-align:center;padding-top:100px;}
.img_hover .photo .pho_img img{width:300px;height:300px;overflow:hidden;}
.img_hover .photo ul li a img {width:76px;height:76px;overflow:hidden;padding:1px;}
.img_hover .photo ul li:hover{background:url(../images/common/bg_box_ty7_on.gif) no-repeat 0 0;}
.img_hover .photo ul li:first-child{margin-top:0;}

.img_hover .txt_detail{float:right;}
.img_hover .txt_detail ul{margin-top:40px;}
.img_hover .txt_detail ul li{border-top:1px solid #dbdbdb;padding:14px 0;font-size:15px;}
.img_hover .txt_detail ul li:after{content:"";display:block;clear:both;}
.img_hover .txt_detail ul li:first-child{border-top:0;}
.img_hover .txt_detail ul li dl dt{float:left;width:100px;color:#34363c;}
.img_hover .txt_detail ul li dl dd{color:#929292;}
.img_hover .txt_detail ul li dl dd strong{color:#ee2e24;}
.img_hover .txt_detail ul li dl dd.pr{position:relative;}
.img_hover .txt_detail ul li dl dd.pr a{position:absolute;right:0;top:}
.img_hover .txt_detail ul li.last{border-top:2px solid #a0a0a0;padding-bottom:0;}
.img_hover .txt_detail ul li.last {}
.img_hover .txt_detail ul li.last dd{float:right;color:#ee2e24;font-size:24px;}
 
.img_hover .txt_detail p{color:#bdbdbd;}
.img_hover .txt_detail p span{font-size:15px;}
.img_hover .txt_detail .btn {margin-top:10px;}
.img_hover .sns{text-align:right;display:block;margin-top:10px;}

.compare{margin-top:40px;margin:0 31px;}
.compare .tit_cp{font-size:20px;color:#000;margin:40px 0 10px;}
.compare .tb_cp{border-bottom:1px solid #dbdbdb;color:#999;}
.compare .tb_cp th, .compare .tb_cp td{border-top:1px solid #dbdbdb;padding:15px;}
.compare .tb_cp th{text-align:center;}
.compare .tb_cp td:first-child{text-align:left;}
.compare .tb_cp td span.red{color:#ee2e24;}

/* 탭 */
.pro_tab {margin:80px 30px 30px 31px;}
.pro_tab > ul{background:url(../images/common/bg_bder1.gif) repeat-x 0 bottom;height:45px;}
.pro_tab > ul > li{float:left;font-size:16px;color:#cbcbcb;height:45px;margin-left:4px;}
.pro_tab > ul > li:first-child{margin-left:0;}
.pro_tab > ul > li > a{background:url(../images/common/bg_le_off.png) no-repeat 0 0;padding-left:5px;float:left;color:#cbcbcb;}
.pro_tab > ul > li > a span{background:url(../images/common/bg_r_off.png) no-repeat right 0;padding:12px 4px 14px 0;text-align:center;float:left;width:151px;}
.pro_tab > ul > li.active{float:left;font-size:16px;height:45px;}
.pro_tab > ul > li.active > a{background:url(../images/common/bg_le_on.png) no-repeat 0 0;padding-left:5px;float:left; color:#000;}
.pro_tab > ul > li.active > a span{background:url(../images/common/bg_r_on.png) no-repeat right 0;padding:12px 4px 14px 0;text-align:center;float:left;min-width:151px;}
.pro_tab .tab_cnt{position:relative;padding:41px 0 0 64px;}
.pro_tab .tab_cnt:after{content:"";display:block;clear:both;}
.pro_tab .tab_cnt .pro_prew {position:absolute;left:0;top:50%;margin-top:-23px;}
.pro_tab .tab_cnt .pro_next {position:absolute;right:0;top:50%;margin-top:-23px;}
.pro_tab .tab_cnt > ul > li {float:left;margin-left:16px;}
.pro_tab .tab_cnt > ul > li:first-child{margin-left:0;}

/* tab_ty1 */
.pro_tab.tab_ty1{margin:0;padding:45px 0 0 0;background:url(../images/common/bg_dot_ty1.gif) repeat-x 0 0;position:relative;height:441px;}
.pro_tab.tab_ty1:after{content:"";display:block;clear:both;}
.pro_tab.tab_ty1 > ul{background-position:2px bottom;margin-left:1px;}
.pro_tab.tab_ty1 .tab_cnt{background:url(../images/common/bg_bder_bx4.png) no-repeat 0 0;padding:63px 77px 0; height:355px;width:880px;position:absolute;left:-1px;top:90px;z-index:1;}
.pro_tab.tab_ty1 .tab_cnt .pro_prew{left:26px;}
.pro_tab.tab_ty1 .tab_cnt .pro_next{right:27px;}
.pro_tab.tab_ty1 .tab_cnt > ul {width:100%;}
.pro_tab.tab_ty1 .tab_cnt > ul > li:first-child{margin-left:16px;}
.pro_tab.tab_ty1 .tab_cnt > ul > li{width:274px;}
.pro_tab.tab_ty1 .tab_cnt .all_vew{position:absolute;right:22px;top:32px;}

.detail_data{margin-top:75px;margin:0 31px;}
.detail_data h3 + table{border-top:1px solid #c1c1c1;border-bottom:1px solid #c1c1c1;text-align:left;margin-top:10px;}
.detail_data h3 + table th, .detail_data h3 + table td{border-top:1px solid #dededf;padding:10px 0 10px 20px;font-size:11px;color:#999;}
.detail_data h3 + table th{background:#f8f8f9;}

.pro_photo{margin:30px 0 30px 31px;position:relative;}
.pro_photo .p_img img{margin-top:30px;}

/* 상세페이지 라인 */
.line_first{background:url(../images/common/bg_line_ty4.gif) repeat-x 0 0;padding-top:3px;height:2px;}

/* 상세정보 후 보여지는 미니 장바구니 */
.mini_product{position:absolute;left:710px;top:0;z-index:100;background:#f9f9f9;width:234px;padding:10px;}
.mini_product h4{font-size:15px;font-family:'NanumGothicBold';padding-bottom:40px;}
.mini_product p {text-align:right;}
.mini_product p span:first-child{color:#86878d;font-size:12px;}
.mini_product p span{color:#ee2e24;font-size:24px;font-family:'NanumGothic';display:block;}

/* 상세- 마트모아 배너 */
.pro_detail .right{float:left;margin-left:37px;}
.pro_detail .right h3 {font-size:20px;font-family:'NanumGothic';color:#333;}
.pro_detail .right h3 span {color:#696868;}
.pro_detail .right p{margin-top:13px;}

/* 마이페이지 */
.my_wrap .left{border:0;background:none;padding-top:0;}
.my_wrap .mypage {position:relative;padding:2px;width:1032px;} 
.mypage .my_top {padding:50px 50px 0 30px;height:74px; background:url(../images/common/bg_mybx_top.png) no-repeat 0 0;}
.mypage .my_top h3{}
.mypage .my_top a {position:absolute;right:50px;top:44px;}
.my_top .line{height:1px;background:#f79f92;margin-top:15px;}
.my_photo {padding:0 150px;background:url(../images/common/bg_mybx_btm.png) no-repeat 0 0;height:254px;}
.my_photo .pfile_photo {position:absolute;left:50%;top:67px;z-index:10;}
.my_photo .pfile_photo .bg{margin-left:-68px;background:url(../images/common/bg_my_pic.png) no-repeat;width:137px;height:137px;overflow:hidden;position:relative;z-index:1;display:inline-block;}
.my_photo .pfile_photo img{width:137px;height:137px;overflow:hidden;position:absolute;left:-68px;top:0;}
.my_photo .pfile{display:block;font-size:22px;font-family:'NanumGothic';color:#000;width:100%;text-align:center;
padding-top:90px;}
.my_photo .ico_ca{position:absolute;right:408px;top:170px;z-index:10;}
.my_photo .my_data {background:url(../images/common/bg_dot_ty1.gif) repeat-x 0 0;text-align:center;overflow:hidden;padding-top:15px;margin-top:24px;position:relative;}
.my_photo .my_data li{font-size:16px;font-family:'NanumGothic';color:#a9a9a9;text-align:center;display:inline;}
.my_photo .my_data li:first-child{margin-left:0;}
.my_photo .my_data li.my_l{position:absolute;left:0;}
.my_photo .my_data li.my_r{position:absolute;right:0;}
 
/* 마트계정관리 */
.mart_count{margin:16px 0 43px;}
.mart_count:after{content:"";display:block;clear:both;}

.martWrap{float:left;background:url(../images/common/bg_bder_bx2.png) no-repeat 0 0;width:666px;height:319px;padding:2px;}
.mart_tit{float:left;}
.mart_cnt{float:left;padding:50px 20px 0 20px;}
.mart_cnt h4{font-size:17px;font-family:'NanumGothic';padding-left:3px;margin-bottom:30px;}
.mart_cnt table{width:493px;}
.mart_cnt table tr.first th, .mart_cnt table tr.first td{border-top:0;}
.mart_cnt table th, .mart_cnt table td{border-top:1px solid #dbdbdb;padding:14px 0 13px;text-align:left;}
.mart_cnt table td{color:#aaaaaa;font-size:13px;}
.mart_cnt table th{padding-left:20px;}
.mart_cnt .strong{color:#000;}
.mart_cnt .org{color:#fc6e58;}
.mart_cnt .modify{text-align:right;display:block;padding-top:10px;}

/* quick바로가기 */
.faq_ico{float:right;}
.faq_ico li{float:left;margin:11px 0 0 11px;}
.faq_ico ul.first li{margin:0 0 0 11px;}

/* 그래프 */
.graphWrap{margin-top:13px;}
.graphWrap .pro_buy{float:left;background:url(../images/common/bg_buy_bx.png) no-repeat 0 0;width:662px;height:367px;padding-right:37px;padding-bottom:102px;}
.graphWrap .pro_buy .tit{font-size:17px;font-family:'NanumGothic';padding:40px 10px 9px 0px;margin-left:36px;color:#212324;border-bottom:1px solid #dbdbdb;}
.graphWrap .pro_buy .tit .tit_sub{font-size:13px;font-family:'MalgunGothic';color:#959595;padding-left:10px;margin-left:10px;background:url(../images/common/bg_line_ty1.gif) no-repeat 0 0;}
.chart_img{margin-left:166px;}
.chart_img > ul > li{position:relative;margin:10px 0;vertical-align:top;white-space:nowrap;padding:9px 0;line-height:18px;height:18px;background:url(../images/common/bg_line_ty7.gif) repeat-x 0 25px;}
.chart_img > ul > li:first-child{margin-top:16px;background-position:0 29px;}
.chart_img > ul > li > span:first-child{padding-top:10px;}
.chart_img > ul > li:first-child > span:first-child{padding-top:14px;}
.chart_img .ch_tit{position:absolute;left:-131px;top:0;width:136px;line-height:36px;text-align:left;color:#fff;background:url(../images/common/bg_gr_ty1.png) no-repeat 125px 20px;z-index:1;}
.chart_img > ul > li:first-child .ch_tit{background-position:125px 24px;}
.chart_img .ch_bar{position:relative;display:inline-block;height:2px;border:0;background:#ff6659;margin-top:16px;}
.chart_img > ul > li:first-child .ch_bar{margin-top:20px;}
.chart_img .ch_bar > span{background:url(../images/common/bg_gr_ty2.png) no-repeat 0 0;position:absolute;width:36px;line-height:36px;top:-17px;right:-1px;color:#ff6659;text-align:center;letter-spacing:-1px;}
.chart_img .ch_bar.ch_zero{display:none;}

/* 달력 */
.graphWrap .date_ty1{float:right;background:url(../images/common/bg_date_bx1.png) no-repeat 0 0;width:324px;height:469px;position:absolute;left:720px;}
.graphWrap .date_ty1:after{content:"";display:block;clear:both;}
.date_ty1 .date_tit{padding:7px 22px 15px ;color:#fff;height:125px;}
.date_ty1 .date_tit .day{font-size:32px;line-height:32px;font-weight:bold;font-family:'MalgumGothic';color:#fff;text-align:right;display:block;}
.date_ty1 .date_tit .buy_his{border-bottom:1px solid #81dbbd;padding:0 0 10px 0;font-size:15px;}
.date_ty1 .date_tit .mon{position:relative;}
.date_ty1 .date_tit .en_mon{display:block;text-align:center;padding-top:25px;font-size:15px;height:32px;line-height:32px;}
.date_ty1 .date_tit .en_mon > span{padding-left:5px;}
.date_ty1 .date_tit .mon .prew{position:absolute;left:0;top:25px;}
.date_ty1 .date_tit .mon .next{position:absolute;right:0;top:25px;}
.date_ty1 .date_day {padding:0 21px;margin-top:16px;position:relative;}
.date_ty1 .date_day th, .date_day td{font-size:11px;text-align:center;}
.date_ty1 .date_day th {font-family:'Myriad Pro';color:#909090;font-weight:normal;height:34px;line-height:34px;}
.date_ty1 .date_day td{height:40px;line-height:40px;position:relative;}
.date_ty1 .date_day td a{display:block;cursor:pointer;}
.date_ty1 .date_day .sun{color:#ee3f24;}
.date_ty1 .date_day .no_day{color:#c7c7c7;}
.date_ty1 .date_day .his{background:url(../images/common/bg_cal_off.png) no-repeat center center;}
.date_ty1 .date_day .bdown{background:url(../images/common/bg_cal_on.png) no-repeat center center;color:#fff;}
.date_ty1 .date_day .priceComp{top:-90px;left:-2px;line-height:18px;text-align:left;}

/* 장바구니 리스트 */
.cart_wrap .left{position:relative;padding:2px;width:1032px;border:0;background:none;}
.cart_wrap .my_top{background:url(../images/common/bg_mybx_top.png) no-repeat 0 0;height:126px;}
.cart_wrap .my_top .tit{border-bottom:1px solid #f79f92;padding:35px 0 15px 0;position:relative;margin:0 52px 0 32px;}
.cart_wrap .my_top .tit h3{font-size:26px;color:#fff;font-family:'NanumGothic';}
.cart_wrap .my_top .tit > div{position:absolute;right:0;top:34px;}
.cart_wrap .my_top .tit > div > a{display:inline-block;background:url(../images/common/bg_cart_arr.gif) no-repeat 0 0;padding-left:40px;margin-left:20px;}
.cart_wrap .my_top .tit > div > a:first-child{background:none;padding-left:0;margin-left:0;}
.cart_wrap .cart_top{border-bottom:1px solid #dbdbdb;}

/* 마트별 가격비교 */
.cart_listWrap .view_left{background:url(../images/common/bg_cart_top.png) no-repeat 0 0;padding-top:3px;float:left;width:779px;}
.cart_listWrap .view_left .view_btm{background:url(../images/common/bg_cart_btm.png) no-repeat 0 100%;padding-bottom:3px;}
.cart_listWrap .view_left .view_btm .view_mid{background:url(../images/common/bg_cart_mid.png) repeat-y 0 0;padding:30px 22px;}
.cart_listWrap .view_mid .btns{position:relative;}
.cart_listWrap .view_mid .btns .ab{position:absolute;left:-20px;top:0;}
.cart_listWrap .view_mid .btns .btnR{float:right;}
.cart_listWrap .view_mid .tb_list thead tr{background:url(../images/common/bg_tb_ty1.gif) repeat-x 0 0;}
.cart_listWrap .view_mid .tb_list thead th:first-child{background:url(../images/common/bg_tb_ty2.gif) no-repeat 0 0;}
.cart_listWrap .view_mid .tb_list thead th.last{background:url(../images/common/bg_tb_ty3.gif) no-repeat right 0;}
.cart_listWrap .view_mid .tb_list thead th{color:#fff;font-weight:normal;height:49px;}

.tb_list_ty1 .tb_list_head{padding:20px 0;background:#fafafa;position:relative;}
.tb_list_ty1 .tb_list_head .ft_l{}
.tb_list_ty1 .tb_list_head .ft_r{position:absolute;right:0;top:20px;}
.tb_list_ty1 .tb_list_body table{text-align:center;}
.tb_list_ty1 .tb_list_body td{border:1px solid #dbdbdb;padding:28px 0 30px;}
.tb_list_ty1 .tb_list_body td.pl{padding-left:10px;}

/* 마트별 가격비교 후 주문 */
.cart_listWrap .view_right{float:right;width:244px;}




















 



